In [98]:
import numpy as np, pandas as pd
from sktime.regression.interval_based import TimeSeriesForestRegressor

In [3]:
path_to_data = 'e:\\Krivenko\\Kaggle\\2021\\New20211005\\'
train_name = 'train.csv'
test_name = 'test.csv'
train = pd.read_csv(path_to_data + train_name)
test = pd.read_csv(path_to_data + test_name)

In [4]:
print('Train shape:',train.shape)
train.head()

Train shape: (6036000, 8)

   id  breath_id   R   C  time_step       u_in  u_out   pressure
0   1          1  20  50   0.000000   0.083334      0   5.837492
1   2          1  20  50   0.033652  18.383041      0   5.907794
2   3          1  20  50   0.067514  22.509278      0   7.876254
3   4          1  20  50   0.101542  22.808822      0  11.742872
4   5          1  20  50   0.135756  25.355850      0  12.234987

In [5]:
exhale = 80-train.groupby('breath_id')[['u_out']].agg('sum')
length = train.groupby('breath_id')[['time_step']].agg('max')

In [7]:
length.head()

           time_step
breath_id
1           2.689766
2           2.690624
3           2.525398
4           2.528579
5           2.724876

In [8]:
# CONVERT TRAIN TO SERIES
series = train.groupby('breath_id').agg(list).reset_index()
for k in range(80): series[f'x_{k}'] = series.u_in.apply(lambda x: x[k])
for k in range(80): series[f'y_{k}'] = series.pressure.apply(lambda x: x[k])
for k in range(80): series[f'z_{k}'] = 1-series.u_out.apply(lambda x: x[k])
series.R = series.R.apply(lambda x: x[0])
series.C = series.C.apply(lambda x: x[0])
series = series.drop(['id','time_step','u_in','u_out','pressure'],axis=1)
series = series.merge(exhale,on='breath_id',how='left')
series = series.merge(length,on='breath_id',how='left')
series = series.rename({'time_step':'time_length','u_out':'expire'},axis=1)
series = series.sort_values('breath_id').reset_index(drop=True)

print('Train as series shape:', series.shape )
print('Min inhale length=', series['expire'].min(),',Max inhale length=', series['expire'].max(),
      'Max breath length=',series['time_length'].max() )
series.head()

c:\pythons\p376\lib\site-packages\ipykernel_launcher.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  after removing the cwd from sys.path.
c:\pythons\p376\lib\site-packages\ipykernel_launcher.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  """

Train as series shape: (75450, 245)
Min inhale length= 25 ,Max inhale length= 32 Max breath length= 2.9372379779815674

,breath_id,R,C,x_0,x_1,x_2,x_3,x_4,x_5,x_6,...,z_72,z_73,z_74,z_75,z_76,z_77,z_78,z_79,expire,time_length
0,1,20,50,0.083334,18.383041,22.509278,22.808822,25.355850,27.259866,27.127486,...,0,0,0,0,0,0,0,0,30,2.689766
1,2,20,20,12.184338,13.980205,12.574163,11.730537,12.124229,11.055636,10.774428,...,0,0,0,0,0,0,0,0,29,2.690624
2,3,50,20,0.000000,7.187242,13.338781,17.111335,18.353980,17.417672,15.353111,...,0,0,0,0,0,0,0,0,32,2.525398
3,4,50,50,0.000000,1.262539,4.001352,6.379411,8.295194,9.790410,10.874443,...,0,0,0,0,0,0,0,0,32,2.528579
4,5,5,50,21.424375,28.504653,29.353025,30.502095,31.024647,32.224651,32.364788,...,0,0,0,0,0,0,0,0,29,2.724876

In [12]:
# FIRST 3 COLUMNS OF TRAIN SERIES DATAFRAME NEED TO BE IGNORED
IGNORE = 3
# MORE NEIGHBORS THAN WE NEED FOR ALL DISPLAYS
NEIGHBORS = 500
# HOW MANY TIME_STEPS TO USE FOR KNN COMPARISON
TIME_STEPS = 80
# HOW MANY INITIAL TIME_STEPS TO SKIP FOR KNN COMPARISON
SKIP = 0 

r = 5
c = 10

In [167]:
temp2 = series.loc[(series.R==r)&(series.C==c)].reset_index(drop=True)

In [168]:
X = temp2.iloc[:,IGNORE+SKIP:IGNORE+TIME_STEPS+SKIP]
y = temp2.iloc[:,IGNORE+SKIP +TIME_STEPS:IGNORE+TIME_STEPS+SKIP +TIME_STEPS]
z = temp2.iloc[:,IGNORE+SKIP +TIME_STEPS+TIME_STEPS:IGNORE+TIME_STEPS+SKIP +TIME_STEPS+TIME_STEPS]

In [170]:
series1 = train.groupby('breath_id').agg(list).reset_index()
series1.head()

,breath_id,id,R,C,time_step,u_in,u_out,pressure
0,1,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2...","[50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 5...","[0.0, 0.0336523056030273, 0.067514419555664, 0...","[0.0833340056346443, 18.38304147263472, 22.509...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[5.837491705069121, 5.907793850520346, 7.87625..."
1,2,"[81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 9...","[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2...","[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2...","[0.0, 0.0339975357055664, 0.0681509971618652, ...","[12.184337517135212, 13.980205443281347, 12.57...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[6.048398141422782, 7.524743195898315, 9.28229..."
2,3,"[161, 162, 163, 164, 165, 166, 167, 168, 169, ...","[50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 5...","[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2...","[0.0, 0.03196382522583, 0.0639522075653076, 0....","[0.0, 7.18724187099842, 13.338780645925038, 17...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[5.064168105105749, 5.064168105105749, 6.75141..."
3,4,"[241, 242, 243, 244, 245, 246, 247, 248, 249, ...","[50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 5...","[50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 5...","[0.0, 0.0318536758422851, 0.0637614727020263, ...","[0.0, 1.2625385852839184, 4.001352088243387, 6...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[6.259304577776412, 5.767189559617911, 6.54051..."
4,5,"[321, 322, 323, 324, 325, 326, 327, 328, 329, ...","[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...","[50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 5...","[0.0, 0.0339670181274414, 0.0687971115112304, ...","[21.424374842054064, 28.504653017718358, 29.35...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[6.329606723227637, 7.384138904995879, 8.36836..."

In [171]:
temp2 = series1.loc[(series.R==r)&(series.C==c)].reset_index(drop=True)

In [172]:
X = temp2.u_in
y = temp2.pressure

In [186]:
from sktime.datasets import load_arrow_head
from sktime.datatypes._panel._convert import from_nested_to_2d_array
import skt_utils
#X, y = load_arrow_head(return_X_y=True)

ModuleNotFoundError: No module named 'sktime.utils.load_data'

In [185]:
y

0      0
1      1
2      2
3      0
4      1
      ..
170    2
171    2
172    2
173    2
174    2
Length: 211, dtype: object

In [105]:
model = TimeSeriesForestRegressor(min_interval=3, n_estimators=200, n_jobs=1, random_state=42)
model.fit(X, y.iloc[:, 0])

ValueError: X must be univariate with X.shape[1] == 1, but found: X.shape[1] == 80.

'0.8.0'